<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-ml" role="menuitem"><a href="{{site.baseurl}}tag/ml/">ML</a></li>
    <li class="nav-ai" role="menuitem"><a href="{{site.baseurl}}tag/ai/">AI</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/python/">Python</a></li>
    <li class="nav-r" role="menuitem"><a href="{{site.baseurl}}tag/r/">R</a></li>
    <li class="nav-data-visualization" role="menuitem"><a href="{{site.baseurl}}tag/data-visualization/">Data Visualization</a></li>
</ul>
